html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    padding: 0;
    margin: 0;
    font-family: 'Lars', monospace;
    /* font-family: 'Lato', sans-serif; */
    min-width: 100%;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lars';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/LarsMono-RegularWeb.woff2) format('woff2');
}

.grommet-container {
    overflow: hidden;
}
